@import '../../../style/_variables.styl';

.movies-list
  list-style: none
  margin: 0
  padding: 0

  li
    padding: 6px

    &.odd
      background-color: $mainbg

    a
      line-height: 2
      text-decoration: none
      color: $linkcolor

      &:hover
        color: $hoverlinkcolor

.search-field
  margin: 5px 0
  padding: 5px
  color: $textcolor
  border-radius: 5px
  outline: none
  width: 100%

.genre-el
.movie-genre-el
  // I know inline-block is not a best choise but I want to save my time
  display: inline-block
  padding: 0 6px

  a
    color: $genrelinkcolor
    font-size: 14px

    &:hover
      text-decoration: underline
      color: $hoverlinkcolor
