<div class="row" ng-if="!ml.error">
  <div class="col-sm-12 col-lg-4 nopadding">
    <input class="search-field" placeholder="Input search keyword here" type="text" ng-model="ml.searchQuery" ng-model-options="{debounce: 400}" />
  </div>
  <div class="col-sm-12 col-lg-8 nopadding">
    <span ng-repeat="genre in ml.genres" class="genre-el">
      <!-- here the link was not complete without ui-sref property and I left it here. Anyway this property doesn't affect for nothing -->
      <a ui-sref="movlist" ng-click="ml.getMoviesByGenre(genre.id)" title="Filter by the '{{genre.name}}' genre">{{genre.name}}</a>
    </span>
  </div>
</div>

<div class="row box">
  <ul class="movies-list" ng-if="!ml.error">
    <li ng-repeat="movie in ml.movies" ng-class="{'odd': $odd}">
      <div class="row">
        <div class="col-sm-12 col-lg-3">
          <h3 class="form-section-title">
            <span>{{movie.vote_average}}</span>
            <a ui-sref="movdetails({id: movie.id})" title="{{movie.title}} | Show details"><strong>{{movie.title}}</strong></a>
          </h3>
          <div ng-if="movie.genre_ids && ml.genres" class="genres-box">
            <span class="movie-genre-el"><strong>Movie genres:</strong></span>
            <span ng-repeat="id in movie.genre_ids" ng-if="ml.genres[id]" class="movie-genre-el">{{ml.genres[id].name}}</span>
          </div>
        </div>
        <div class="col-sm-12 col-lg-9">
          <p>{{movie.overview}}</p>
        </div>
      </div>
    </li>
  </ul>

  <!-- Display errors -->
  <div ng-if="ml.error">
    <h2>{{ml.error}}</h2>
  </div>

</div>
