/* Common page styles here */
body
  background: $mainbg
  color: $textcolor
  font-size: 18px

.container
  &.mainwrapper
    background-color: $mainbg
    margin-top: 30px

    .row
      &.box
        border: 1px solid $linkcolor
        border-radius: 5px
        background-color: $contentcolor
        padding: 15px

div.nopadding
  padding: 0

// here is my way to overwrite bootstrao link styles
.row
  a
    color: $primarygreen

    &:hover
      color: $hoverlinkcolor
      text-decoration: underline

.form-section-title
  display: flex
  margin-bottom: 10px
  font-size: 16px

  &.nopadding
    margin-bottom: 0

  > span
    flex-shrink: 0
    display: flex
    justify-content: center
    align-items: center
    background: $primarygreen
    color: $contentcolor
    width: 30px
    height: 30px
    border-radius: 50%
    margin-right: 10px
    font-size: 12pxS

.genres-box
  margin-bottom: 10px

  .movie-genre-el
    font-size: 14px

@media screen and (max-width: 578px)
  .container
    &.mainwrapper
      .row
        margin-left: 5px
        margin-right: 5px
