@import '../../../style/_variables.styl';

.form-section-title
  line-height: 2

.tagline
  font-size: 15px
  font-style: italic

.details-box
  padding: 20px

.poster-box
  img
    min-with: 100%
    max-width: 100%

@media screen and (max-width: 578px)
  .details-box
    padding: 0
