<div class="row">
  <a ui-sref="movlist" class="regular-link">&lt;&lt;&lt;&nbsp;Back to the list</a>
</div>

<div class="row box">

  <div ng-if="!md.loading && !md.error" class="row details-box">
    <h3 class="form-section-title"><span>{{md.movie.vote_average}}</span> {{md.movie.title}}</h3>
    <div ng-if="md.movie.genres" class="col-sm-12 genres-box">
      <span class="movie-genre-el"><strong>Movie genres:</strong></span>
      <span ng-repeat="genre in md.movie.genres" class="movie-genre-el">{{genre.name}}</span>
    </div>
    <div class="col-sm-12 col-lg-3 poster-box">
      <img ng-src="http://image.tmdb.org/t/p/w500/{{md.movie.poster_path}}" ng-if="md.movie.poster_path" alt="{{md.movie.title}} movie poster" />
    </div>
    <div class="col-sm-12 col-lg-9">
      <p ng-if="md.movie.overview">{{md.movie.overview}}</p>
      <p ng-if="md.movie.tagline" class="tagline">{{md.movie.tagline}}</p>
    </div>
    <!--<pre>{{md.movie | json}}</pre>-->
  </div>

  <p class="error-msg" ng-if="!md.loading && md.error">{{md.error}}</p>
</div>
